* {
    box-sizing: border-box;
  }
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

  body{
    margin:0 auto;
    background-color: rgba(240, 238, 235, 0.808);
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 section{ 
    height: 650px;
    width: 300px;
    margin: 50px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.05);
    background-color: white;
 }
 .top-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .music-artist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .music-artist__picturecircle{
    height: 80px;
    width: 80px;
    margin: 15px 0px;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(243, 8, 8, 0.6);
 }
.music-artist__name{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.big{
    font-size: 24px;
    font-weight: 600;
    margin: 10px;
}
.small{
    font-size: 12px;
    font-weight: 600;
    margin: 5px 0px;
    color: #A4A4A4;
}
.music-heart{
    display:flex;
    justify-content: center;
    margin: 10px 0px;
}
.music-heart__box{
    display: flex; 
    height: 35px;
    width: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: 20px 5px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}
.white{
    color: white;
    opacity: 1.0;
    font-weight: 200;
}
.blackbox{
    background-color: black;
}
.whitebox i{
    margin: 5px;
}
.music-select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-radius: 20px;
}
.music-artist__picturesmall{
    height: 40px;
    width: 40px;
    border-radius: 10px;
}
.music-select__name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
}
.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 5px 0px;
}
.now{
    box-shadow: 0 3px 10px rgba(0,0,0,0.05); 
}
.first{
    position: relative;
}
.music-now{
    padding: 0 20px;
    position: absolute;
    top: 89%;
    height: 60px;
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-radius: 30px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.05); 
}
.music-now__now{
    display: flex;
    flex-direction: column;
}
.white{
    color: white;
}
.black{
    color: black;
}
.music-artist__picturebig{
    display: flex;
    flex-direction: column;
    height: 220px;
    width: 220px;
    margin: 60px 20px 30px 20px;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(243, 8, 8, 0.6);
}
.music-bar{
    margin: 20px 0px;
}
.music-bar__time{
    display: flex;
    justify-content: space-between;
}
.time{
    font-size: 11px;
    font-weight: 600;
    color: #A4A4A4;
}
.music-bar__bar{
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px 0px;
}
.music-bar__barleft{
    width: 160px;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
}
.music-bar__barright{
    width: 110px;
    left: 58%;
    border: 2px solid rgb(190, 190, 190);
    border-radius: 5px; 
    position: absolute;
}
.music-bar__barcircle{
    width: 8px;
    height: 8px;
    background-color: black;
    border: 2px solid black;
    border-radius: 50%;
    top: 14%;
    right: 40%;
    position: absolute;
}
.music-button{
    display: flex;
    padding: 40px 10px;
    justify-content: space-between;
    align-items: center;
}
.fa-repeat{
    opacity: 0.5;
}
.fa-shuffle{
    opacity: 0.5;
}
.music-button__play{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.05); 
}